<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">새 캠핑장</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">캠핑장 이름</label>
                <input class="form-control" type="text" id="title" placeholder="이름" required>
                <div class="valid-feedback">입력완료!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">캠핑장 위치</label>
                <input class="form-control" type="text" id="location" placeholder="위치" required>
                <div class="valid-feedback">입력완료!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">캠핑장 이미지 URL</label>
                <input class="form-control" type="text" id="image" placeholder="https://" required>
                <div class="valid-feedback">입력완료!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">캠핑장 가격</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">￦</span>
                    <input type="text" class="form-control" id="price" placeholder="0" required>
                    <div class="valid-feedback">입력완료!</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">캠핑장 설명</label>
                <textarea class="form-control" id="description" placeholder="설명" required></textarea>
                <div class="valid-feedback">입력완료!</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" id="submitButton">캠핑장 추가</button>
            </div>
        </form>
        <a href="/campgrounds">모든 캠핑장</a>
    </div>
</div>

<script>
    const submitProcess = function() {
        const title = document.querySelector('#title');
        const location = document.querySelector('#location');
        const image = document.querySelector('#image');
        const price = document.querySelector('#price');
        const description = document.querySelector('#description');

        axios.post(`/campgrounds`, {
            title: title.value,
            location: location.value,
            image: image.value,
            price: price.value,
            description: description.value           
        })
            .then(res => {
                if (res.data.success) {
                    window.location.href = '/campgrounds/' + res.data.id;
                } else {
                    alert(res.data.msg);
                }
            })
            .catch(err => {
                alert(err.response.data.msg);
                window.location.href = '/campgrounds';
            });
        };

    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.validated-form')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {

        event.preventDefault();
        event.stopPropagation();
        const validity = form.checkValidity()
        if (validity) {
            submitProcess();
        }

        form.classList.add('was-validated');
        }, false)
    })
    })();
</script>