<% layout('/layouts/boilerplate') %>
<h1>회원가입</h1>
<form action="/register" method="post" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">이름</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="이름입력" required>
        <div class="valid-feedback">작성완료!</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="username">이메일</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="이메일" required>
        <div class="valid-feedback">작성완료!</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">암호</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="암호입력" required>
        <div class="valid-feedback">작성완료!</div>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">가입</button>
    </div>
</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', e => {
        e.preventDefault();
        //Form Vaildation
        if (!formVaildation(form)) {
            return;
        }

        form.submit();   
    });
</script>
